<div class="text-center  mt-5">
  <main class="form-signin w-100 m-auto">
    <form>
      <!-- <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
      <img class="d-block mx-auto mb-4" src="../assets/agenda.png" alt="" width="120" height="100">
      <h1 class="h3 mb-3 fw-normal cor">Iniciar sessão na Agenda </h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@gmail.com">
        <label for="floatingInput">Email</label>
      </div>

      <div class="form-floating mt-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="senha">
        <label for="floatingPassword">Senha</label>
      </div>


      <div class="mb-3 form-check cor mt-2">
        <input type="checkbox" class="form-check-input " id="exampleCheck1">

        <label class="form-check-label " for="exampleCheck1">Lembrar-me</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>


      <div class="mb-3 form-check cor mt-2">
        <label class=" " for="exampleCheck1"><a href="cadastrar">Cadastre-se</a></label>
        <div class="mt-3"></div>
      </div>

    </form>

  </main>



</div>