<div class="bg-light">

  <div class="container">
    <main class="row">

      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../assets/agenda.png" alt="" width="120" height="100">
        <h2>Cadastre-se</h2>
      </div>

        <div class="col-md-12 col-12 mx-auto">
          <form class="needs-validation" novalidate>
            <div class="form-floating">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@gmail.com">
              <label for="floatingInput">Email</label>
            </div>

      
            <div class="form-floating mt-3 col-12">
              <input type="password" class="form-control" id="floatingPassword" placeholder="senha">
              <label for="floatingPassword">Insira uma senha</label>
            </div>

            <div class="form-floating mt-3 col-12">
              <input type="password" class="form-control" id="floatingPassword" placeholder="senha">
              <label for="floatingPassword">Insira uma senha</label>
            </div>

  
            <button class="w-100 btn btn-lg mt-5 hover mb-4" type="submit">Cadastrar</button>
          </form>
        </div>
    </main>
  </div>


</div>